<head>
  <!-- iPhone icon set -->
  <link rel="apple-touch-icon" href="/img/logo.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/logo.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/logo.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/logo.png">

  <!-- Mobile website full screen -->
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='yes' name='mobile-web-app-capable'>

</head>

<template name="homepage">


        {{#if currentUser}}
            {{#contentFor "headerButtonLeft"}}
            <a href="{{pathFor 'userAccounts'}}" class="button button-clear" data-nav-direction="back">
            <img src="{{avatarUrl}}" class="avatar user">  {{username}}
        </a>
            {{/contentFor}}

        {{else}}
            {{#contentFor "headerButtonLeft"}}
        <a href="{{pathFor 'userAccounts'}}" class="button button-clear" data-nav-direction="back">
            {{> ionIcon icon='person'}}
        </a>
            {{/contentFor}}
        {{/if}}


  {{#contentFor "headerTitle"}}
    <h1 class="title">首页</h1>
  {{/contentFor}}

    {{#if currentUser}}
        {{#contentFor "headerButtonRight"}}
            <a href="{{pathFor 'newpage'}}" class="button button-clear" data-nav-direction="back">
                {{> ionIcon icon='plus-circled'}}
            </a>
        {{/contentFor}}
    {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div class="welcome">
        <h2>哟&nbsp;来啦</h2>
        <p>
          欢迎回来&nbsp; {{username}}
        </p>
      </div>
      <div class="ranking" id="rankDiv">


      {{#each photo}}
      
        <div class="section">
          <a href="/detail/{{_id}}">
          {{#with oneImage}}
               {{#if isVideo}}
                   <video width = "320" height ="240" preload controls>
                       <source src="{{this.url}}" alt="{{this.name}}">
                   </video>
               {{else}}
                   {{#if isImage}}
                    <img src="{{this.url}}" alt="{{this.name}}" width=240 class="rankImg">
                   {{/if}}
               {{/if}}
          {{/with}}
          </a>
          <div class="title">
            <img src="{{avatarUrl}}" class="photoer user">
            <span class="name1">{{photographer}}</span><br>
            <span class="des1">{{description}}</span>
          </div>
          <div class="button1">
            <button class="rankbtn">{{> ionIcon icon='trophy'}}
                 <span>{{score}}</span>
            </button>
              <button class="btn like">{{> ionIcon icon='happy'}}</button>
              <button class="btn dislike">{{> ionIcon icon='sad'}}</button>

          </div>
        </div>
      

      {{/each}}

      </div>
    {{/ionContent}}
  {{/ionView}}



</template>