<template name="newpage">

{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">新建</h1>
  {{/contentFor}}


{{#ionView}}
    {{#ionContent}}

		{{#autoForm collection="Photos" id="new-post" type="insert" buttonContent="Create"}}


		{{> afQuickField name="picture"}}

		{{> afQuickField name="photographer"}}

		{{> afQuickField name="description"}}

		{{> afQuickField name="cameraModel"}}

		{{> afQuickField name="location"}}


        {{/autoForm}}
        <!--<div class="section">-->
        <!--<a href="/detail/{{_id}}">-->
            <!--{{#with oneImage}}-->
            <!--{{#if isVideo}}-->
            <!--<video width = "320" height ="240" preload controls>-->
            <!--<source src="{{this.url}}" alt="{{this.name}}">-->
            <!--</video>-->
                <!--{{else}}-->
                <!--{{#if isImage}}-->
                <!--<img src="{{this.url}}" alt="{{this.name}}" width=240 class="rankImg">-->
                <!--&lt;!&ndash;<img src="{{this.url}}" alt="{{this.name}}" class="photoer user">&ndash;&gt;-->
                    <!--{{/if}}-->
                <!--{{/if}}-->
            <!--{{/with}}-->
        <!--</a>-->
        <!--</div>-->
		<div class="button-bar">
		<button type="submit" class="button icon button-positive">确认</button>
		</div>


    
    {{/ionContent}}
  {{/ionView}}
</template>